<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <id>quick</id>
      <configuration>
         <source>1.8</source>
         <target>1.8</target>
      </configuration>
      <properties>
        <pmd.failOnViolation>false</pmd.failOnViolation>
        <mvn.test.skip>true</mvn.test.skip>
        <enforcer.skip>true</enforcer.skip>
        <surefire.skipSurefireReport>true</surefire.skipSurefireReport>
        <checkstyle.skip>true</checkstyle.skip>
      </properties>
    </profile>
  </profiles>
</settings>

